@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    .toggle {
        display: block;
    }

    nav .navbar {
        width: 100%;
        height: auto;
        padding: 0;
        display: none;
    }

    .navbar ul {
        width: 100%;
    }

    .navbar ul li {
        display: block;
        text-align: center;
    }

    .navbar h1 {
        display: none;
    }

    .navbar.active {
        display: block;
    }
}