ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
li{
  display: inline-block;
  margin-right: 5px;
}
a{
  background-color: blueviolet;
  color: aliceblue;
  padding: 5px;
  display: block;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
}
a:hover{
  background-color: aquamarine;
}